apiVersion: v1
kind: ConfigMap
metadata:
  name: mosquitto-config-map
  namespace: {{ .Release.Namespace }}
data:
  mosquitto.conf: |
    persistence true
    persistence_location /mosquitto/data/
    log_dest stdout

    password_file /mosquitto/config/password.txt

    # MQTT listener
    listener 1883
    protocol mqtt
    # MQTTS listener
    listener 8883
    protocol mqtt

    cafile /etc/ssl/certs/ca-certificates.crt
    keyfile /mosquitto/certs/tls.key
    certfile /mosquitto/certs/tls.crt

    # WS Listener
    listener 9001
    protocol websockets
